<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Smart valet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Smart valet</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <form [formGroup]="addForm">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-text color="primary" class="vehicle-title">Update Vehicle</ion-text>
        </ion-row>
        <br/>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Vehicle Make</ion-label>
              <ion-select interface="popover" formControlName="vehicle_make_name" placeholder="Select Make" (ionChange)="onVehicleMakeChange($event)">
                <ng-container *ngFor="let each of vehicleMakes">
                  <ion-select-option [value]="each.Make">{{each.Make}}</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Vehicle Model</ion-label>
              <ion-select interface="popover" formControlName="vehicle_model_name" placeholder="Select Model">
                <ng-container *ngFor="let each of vehicleModels">
                  <ion-select-option [value]="each.Model">{{each.Model}}</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Vehicle Year</ion-label>
              <ion-input formControlName="vehicle_years" type="number" placeholder="please enter vehicle year"/>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-button color="primary" size="medium" [disabled]="addForm.invalid" expand="block" (click)="onUpdate()">Update</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
